nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.v li{
    display: flex;
    padding: 16px;
    color: #1e3869;
}
ul{
display: flex;
}
button{
    color: #1e3869;
    background-color: #FAA74A;
    border: none;
    border-radius: 10px;
    padding:16px;
}