<div class="brand-title">
    <h2>Axos</h2>
    <P>Already have an account ? 
    <a routerLink="/">
        Sign-in
    </a></P>
    <p>Business account owners, please enter your Social Security number, not your EIN.</p>
    
</div>
<div class="Register-Form">
<form class="">
    <input type="text" placeholder="First Name"/>
    <input type="text" placeholder="Last Name"/>
    <input type="text" placeholder="Date of Birth"/>
    <input type="text" placeholder="Social Security Number"/>
    <input type="text" placeholder="Create Username"/>
    <input type="text" placeholder="Create Password"/>
</form>
</div>